In [2]:
#1
a = (1,)
type(a)

tuple

In [3]:
#2
my_tuple = (3,4,5,'a','b','c')
my_tuple.index('a')

3

In [4]:
#3
my_str = '  Astronomy&SpaceScienceDepartment  '
my_str.strip()

'Astronomy&SpaceScienceDepartment'

In [35]:
#4
my_str = 'Astronomy&SpaceScienceDepartment'
my_new_str = my_str.split('&')
print(my_new_str[0])
print(my_new_str[1][12:])

Astronomy
Department

In [6]:
#5
my_str = 'Astronomy&SpaceScienceDepartment'
for x in my_str:
    if(x.isupper()):
        print(x)

A
S
S
D

In [8]:
#6
my_str = 'Astronomy&SpaceScienceDepartment'
low = []
for x in my_str:
    if(x.islower()):
        low.append(x)
print(low)

['s', 't', 'r', 'o', 'n', 'o', 'm', 'y', 'p', 'a', 'c', 'e', 'c', 'i', 'e', 'n', 'c', 'e', 'e', 'p', 'a', 'r', 't', 'm', 'e', 'n', 't']

In [12]:
#7
my_str = 'Astronomy&SpaceScienceDepartment'
for i in range(len(my_str)):
    if(my_str[i] == '&'):
        print(i)

9

In [13]:
#8
my_str = "python is the most popular programming language"
my_list = my_str.split()
print(my_list[4])

popular

In [32]:
#9
school = 'KHU'
department = 'Astronomy & Space Science'
print(' 1) School : ' + school + ', Department : ' + department)
print(' 2) School : {}, Department : {}'.format(school, department))
print(' 3) School : {1}, Department : {0}'.format(department, school))

 1) School : KHU, Department : Astronomy & Space Science
 2) School : KHU, Department : Astronomy & Space Science
 3) School : KHU, Department : Astronomy & Space Science

In [24]:
#10
my_str = '100-200-300-400-230'
my_list = my_str.split('-')
numbers = []
for i in my_list:
    if(i.isnumeric()):
        numbers.append(int(i))
print(sum(numbers)/5.0)

246.0